<!DOCTYPE html>
<html>
<head>

<title>Spam Detector</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

<div class="container">

<a href="/logout">
<button class="logout">Logout</button>
</a>

<h1>📩 Spam Detector</h1>

<form action="/predict" method="post">

<textarea
name="message"
placeholder="Enter your message...">
</textarea>

<button class="check-btn">
Check Message
</button>

</form>

{% if result %}

<h2>{{ result }}</h2>

<p>Confidence: {{ confidence }}%</p>

{% endif %}

</div>

</body>
</html>
