body{
background:#03153d;
font-family:Arial;
color:white;
text-align:center;
}

.container{
width:700px;
margin:auto;
margin-top:80px;
background:#1f2c47;
padding:40px;
border-radius:20px;
}

.login-box{
width:450px;
margin:auto;
margin-top:150px;
background:#1f2c47;
padding:40px;
border-radius:20px;
}

input{
width:90%;
padding:15px;
margin:10px;
border:none;
border-radius:10px;
}

textarea{
width:90%;
height:180px;
padding:20px;
font-size:18px;
}

button{
background:#2eb7ff;
padding:15px 30px;
border:none;
border-radius:10px;
cursor:pointer;
}

.logout{
background:red;
color:white;
}
